---
import { footerItems } from '../../data/footer';
import { SocialItem } from '../footer/SocialItem';
import { Container } from './Container';
---
<footer class="relative py-16 lg:py-28 bg-darkDarkBlue">
  <div class="bg-blue absolute top-0 left-0 w-full h-10 md:h-16 flex items-center justify-center">
    <span class="text-h2-reversed-mobile md:text-h2-reversed text-white">Kontakty</span>
  </div>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      {footerItems.map((item) => (
        <SocialItem logo={item.logo} logoName={item.logoName} socials={item.socials} />
      ))}
    </div>
  </Container>
</footer>





