---
import type { HeadProps } from '../../AppTypes';
import Footer from './Footer.astro';
import Head from './Head.astro';
import { Header } from './Header';

type Props = HeadProps;
---

<html lang="cs">
  <Head {...Astro.props} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
