---
import type { HeadProps } from '../../AppTypes';
import '../../styles/global.css';
import Consent from '../analytics/Consent.astro';
import Footer from './Footer.astro';
import Head from './Head.astro';
import { Header } from './Header';

type Props = HeadProps;
---

<html lang="cs">
  <Head {...Astro.props} />
  <body class="text-p-mobile lg:text-p bg-beige relative">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGXGR29Q" height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Consent />
    <Header client:only />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
