---
import Layout from "../components/Layout.astro";

const metaTags = {
  title: "Majáles",
  description: "TODO",
  imageUrl: "TODO",
};
---

<Layout {...metaTags}>
  <h1>Hello world!</h1>
</Layout>
