---
import Image from 'astro/components/Image.astro';
import { AboutSection } from '../components/king-queen/AboutSection';
import Layout from '../components/shared/Layout.astro';
import { MajalesHeadlineDateLanding } from '../components/shared/MajalesHeadlineDateLanding';

const metaTags = {
  title: 'Majáles',
  description: 'TODO',
  image: '/meta_image.jpg',
};
---

<Layout {...metaTags}>
  <MajalesHeadlineDateLanding />
  <div class="relative">
    <AboutSection />
    <!-- <NewsSection /> -->
    <Image
      src="/assets/img/kral-kralovna-right.webp"
      alt="Kral a Kralovna pozadi"
      width={750}
      height={1350}
      class="absolute right-0 top-1/2 -translate-y-1/2 select-none h-4/5 w-max hidden lg:block"
    />
  </div>
  <!-- <HowItWorksSection /> -->
</Layout>
