---

const metaTags = {
  title: 'Majáles',
  description: 'TODO',
  image: '/meta_image.jpg',
};
---
<!-- 
<Layout {...metaTags}>
  <div>
    <MajalesHeadlineDateLanding />
    <ContactSection />
  </div>
  <PartnerSection />
</Layout> -->
