---
import Layout from '../components/shared/Layout.astro';

const metaTags = {
  title: 'Majáles',
  description: 'TODO',
  image: '/meta_image.jpg',
};
---

<Layout {...metaTags}>
  <h1>UBC</h1>
</Layout>
